TELEGRAM_BOT_TOKEN=asd123
TG_API_URL=https://api.telegram.org/bot
TG_WEBHOOK_URL=webhooke.somedomain.com/api/tg
DATABASE_URL="postgres://tradebot:somepassword@trade_bot-postgres-1:5432/tradebot"
POSTGRES_PASSWORD=startingpassword
PGADMIN_DEFAULT_EMAIL=name@someemail.com
PGADMIN_DEFAULT_PASSWORD=thepassword
REDIS_URL=redis://trade_bot-redis-1:6379
NEXTAUTH_SECRET=123456abcdef
SITE_URL=https://bot.mydomain.com
NEXTAUTH_URL=https://bot.mydomain.com
AUTH_SECRET=secretsecret
AUTH_TRUST_HOST=true
AUTH_GOOGLE_ID=googleidforgoogleonlylogin
AUTH_GOOGLE_SECRET=secretfromgoogle
